/* ELEMENTS - Changing the defaults for elements */

html, body {
	margin: 0;
	background-image: url('images/background.jpg');
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", Helvetica, sans-serif;
	margin: 0;
	font-weight: 300;
}

a {
	color: #579;
	text-decoration: inherit;
}

/* Header classes */

.header {
	padding: 20px;
	background-color: rgba(50, 50, 50, 0.6);
	color: #fff;
}

.header a {
	color: inherit;
}

.header-side {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.toggle-menu {
	padding: 10px;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.header-navbar {
	width: 100%;
	display: none;
	padding: 10px 0;
}

.header-navbar > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.header-navbar > ul > li {
	margin: 10px;
}

.header-navbar > ul > li > a {
	display: block;
	padding: 20px;
	transition: all 150ms ease-out;
	transition-property: padding, background-color;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
}

.header-navbar .menu-active {
	background-color: rgba(255, 255, 255, 0.1);
}

.header-navbar > ul > li > a:hover {
	padding-left: 25px;
	background-color: rgba(0, 0, 0, 0.2);
}

/* Frontpage elements */



/* Profile elements */

.profile-container {
	padding: 20px;
}

.infobox {
	margin: 0 auto;
	font-family: Helvetica, sans-serif;
	background-color: rgba(255, 255, 255, 0.3);
	color: #333;
	border: 1px solid #aaa;
	padding: 5px;
}

.infobox th {
	font-weight: normal;
	padding: 10px;
}

.infobox td {
	padding: 10px;
}

.infobox td:nth-child(odd) {
	text-align: left;
}

.infobox td:nth-child(even) {
	text-align: right;
	font-weight: 300;
}

.profile-section {
	margin: 30px 0;
	font-family: Roboto, Helvetica, sans-serif;
	font-weight: 300;
	color: #333;
	word-break: break;
}

.profile-section h2 {
	font-weight: bold;
}

.profile-section li {
	margin: 10px;
}

/* RESPONSIVE DESIGN */

/* Small devices */

@media screen and (min-width: 768px) {

	/* Header elements */

	.header {
		display: flex;
		justify-content: space-between;
		padding: 20px 2%;
	}

	.toggle-menu-container {
		display: none;
	}

	.header-navbar {
		padding: 0;
		display: block;
	}

	.header-navbar > ul > li {
		float: left;
		margin: 0 5px;
	}

	.header-navbar > ul > li > a:hover {
		padding-left: 20px;
	}

	/* Profile elements */

	.infobox {
		float: right;
		margin: 20px;
	}

	.profile-section {
		width: 75%;
	}
}

/* Medium devices */

@media screen and (min-width: 992px) {

	/* Header elements */

	.header-navbar > ul > li > a {
		padding: 30px;
	}

	.header-navbar > ul > li > a:hover {
		padding-left: 30px;
	}

	/* Profile elements */
	
	.infobox {
		margin: auto;
		float: right;
	}

	.profile-container {
		padding: 20px 5%;
	}
}
