/* ELEMENTS - Changing the defaults for elements */

html, body {
	margin: 0;
	background-image: url('images/background.jpg');
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", Helvetica, sans-serif;
	margin: 0;
	font-weight: 300;
}

a {
	color: inherit;
	text-decoration: inherit;
}

/* Header classes */

.header {
	padding: 20px;
	background-color: rgba(50, 50, 50, 0.6);
	color: #fff;
}

.header-side {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.toggle-menu {
	padding: 10px;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.header-navbar {
	width: 100%;
	display: none;
	padding: 10px 0;
}

.header-navbar > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.header-navbar > ul > li {
	margin: 10px;
}

.header-navbar > ul > li > a {
	display: block;
	padding: 20px;
	transition: padding-left 250ms ease-out;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
}

.header-navbar > ul > li > a:hover {
	padding-left: 25px;
}

.header-navbar > ul > li > a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

/* RESPONSIVE DESIGN */

/* Small devices */

@media screen and (min-width: 768px) {
	.header {
		display: flex;
		justify-content: space-between;
		padding: 20px 2%;
	}

	.toggle-menu-container {
		display: none;
	}

	.header-navbar {
		display: block;
	}

	.header-navbar > ul > li {
		float: left;
		margin: 0 5px;
	}

	.header-navbar > ul > li > a:hover {
		padding-left: 20px;
	}
}

/* Medium devices */

@media screen and (min-width: 992px) {
	.header-navbar > ul > li {
		margin: 0 15px;
	}
}
